@import '_app.reset.scss';
#app{
	height: inherit;
}
.row {
	display: flex;
	max-width: 100%;
}
.col-10 {
	flex: 0 0 10%;
	max-width: 10%;
}
.col-15 {
	flex: 0 0 15%;
	max-width: 15%;
}
.col-20 {
	flex: 0 0 20%;
	max-width: 20%;
}
.col-25 {
	flex: 0 0 25%;
	max-width: 25%;
}
.col-30 {
	flex: 0 0 30%;
	max-width: 30%;
}
.col-33{
  flex: 0 0 33%;
  max-width: 33%;
}
.col-35{
  flex: 0 0 35%;
  max-width: 35%;
}
.col-40 {
	flex: 0 0 40%;
	max-width: 40%;
}
.col-45 {
  flex: 0 0 45%;
  max-width: 45%;
}
.col-50 {
	flex: 0 0 50%;
	max-width: 50%;
}
.col-60 {
	flex: 0 0 60%;
	max-width: 60%;
}
.col-65 {
	flex: 0 0 65%;
	max-width: 65%;
}
.col-70 {
	flex: 0 0 70%;
	max-width: 70%;
}
.col-75 {
	flex: 0 0 75%;
	max-width: 75%;
}
.col-80 {
	flex: 0 0 80%;
	max-width: 80%;
}
.col-85 {
	flex: 0 0 85%;
	max-width: 85%;
}
.col-90 {
	flex: 0 0 90%;
	max-width: 90;
}
/*通用样式*/
.h1{
  font-size: 20px;
}
.h2{
  font-size: 18px;
}
.h3{
  font-size: 16px;
}
.h4{
  font-size: 14px;
}
.h5{
  font-size: 13px;
}
.h6{
  font-size: 12px;
}
.h-full{
  height: 100%;
}
.h-90{
  height: 90%;
}
.w-full{
  width: 100%;
}
.t-left{
  text-align: left!important;
}
.t-right{
  text-align: right!important;
}
.t-center{
  text-align: center!important;
}
.m-t{
  margin-top: 15px;
}
.f-right{
  float: right;
}
.f-right:after{
  content: '';
  display: block;
  height: 0;
  clear: both;
}
.font-gray{
  color: rgba(0, 0, 0, 0.6);
}
.inline{
  display: inline-block !important;
}
.no-bg{
  background: none;
}
.cPoint{
	cursor: pointer;
}
.vertical-middle{
	position: relative;
	padding-top: 50%;
	transform: translateY(-30%);
}
/*reset*/
a{
	text-decoration: none;
}
/*tool*/
@function calculate($n) {
  @return ($n/750)*18.75+rem;
}
/*color*/
$white: #fff;
$red: #de294c;
$blue: #334a92;	
$light-blue: #5b8aea;
$sky-blue: #23ceeb;
$border-blue: #303d8c;
$orange: #ff8227;
$green: #008f20;
$border-gray: #eaeaee;
$border-dgray: #bfbfbf;
$background-fa: #fafafa;
$black-80: rgba(0, 0, 0, 0.80);
$black-60: rgba(0, 0, 0, 0.60);
$black-40: rgba(0, 0, 0, 0.40);
$black-20: rgba(0, 0, 0, 0.20);
